@import "../../assets/styles/variables.scss";

.signIn {
  background-color: $grey;
  height: 100vh;

  .card {
    position: absolute;
    top: 13%;
    left: 23%;
    right: 23%;
    border-radius: 10px;
    
    .cardContent {
      display: flex;
      justify-content: center;
      align-items: center;

      .cardLeft {
        height: 35vh;
        width: 50%;
        padding: 120px 100px 120px 80px;
        text-align: left;
        color: $white;
        background-color: $primary;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        .heading {
          .headingText {
            font-size: $fontSize22;
            font-weight: $fontWeight400;
            margin-bottom: 8px;
          }

          .line {
            background-color: $white;
            height: 2.5px;
            width: 65px;
            margin-bottom: 50px;
          }
        }
        .cardText{
          font-size: $fontSize12;
          margin-bottom: 40px;
        }

        .btn {
          margin-top: 25px;

          .knowBtn {
            cursor: pointer;
            color: $white;
            padding: 10px 20px;
            font-size: $fontSize14;
            outline: none;
            border: solid 1px $white;
            background-color: $primary;
            border-radius: 20px;

            &:hover {
              background-color: $white;
              color: $primary;
            }
          }
        }
      }

      .cardRight {
        height: 35vh;
        width: 50%;
        padding: 120px 80px;
        background-color: $signinBg;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        .signInHeading {
          text-align: center;
          margin-top: -25px;

          .signInText {
            color: $darkGrey;
            font-size: $fontSize22;
            font-weight: $fontWeight500;
            margin-bottom: 10px;
          }

          .signinLine {
            margin-left: auto;
            margin-right: auto;
            background-color: $primary;
            height: 2.5px;
            width: 28px;
            margin-bottom: 50px;
          }
        }

        .signInContent {
          margin-bottom: 40px;

          .formControl {
            width: 75%;
            outline: none;
            border: 0px;
            border-bottom: solid 1px $grey;
            padding: 5px;
            &::placeholder{
              color: $grey;
            }
          }
        }

        .btn {
          .loginBtn {
            margin-top: 15px;
            cursor: pointer;
            color: $white;
            width: 80%;
            padding: 10px;
            font-size: $fontSize14;
            font-weight: $fontWeight500;
            outline: none;
            border: solid 1px $primary;
            background-color: $primary;
            border-radius: 20px;
            &:hover{
                background-color: $blue;
            }
          }
        }
      }
    }
  }
}
